.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background-color: #e7e6f5;
  padding: 25px;
  border-radius: 20px;
  color: #0f0f0f;
  width: 400px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.modal-box h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.option {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #0f0f0f;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.option:hover {
  transform: scale(1.02);
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Cores pastel */
.sistema     { background-color: #EBFDDD; }
.aplicativos { background-color: #DDF4FD; }
.seguranca   { background-color: #FDE4F5; }
.email       { background-color: #FFF3DD; }
.produtos    { background-color: #E7FDE7; }
.config      { background-color: #F2E7FD; }

.filtragem {
  background-color: #3a6ff8;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
